<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
             <li>
                <a href="/list-user">User</a>
              </li>
              <li>
                <a href="/add-content">Content</a>
              </li>
              <li class="active">
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/list-experience" class="article">Go back</a>
              </li>
            </ul>
    </nav>

      <div id="content">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>
      <h1 >Chapter: {{currentChapter.alias}}</h1>



<div class="container" style="color:white; margin-top:1%">
 <h5 class="h5" style=" text-align: left; padding-bottom:3%; padding-top:3%;">Basis informatie</h5>

  <div class="row">
    <div class="col-6">
      <div class="form-group" >
        <input type="text"  [(ngModel)]="currentChapter.alias" name="alias" ngDefaultControl class="form-control" id="exampleFormControlInput1" placeholder="Alias">
      </div>
      <div class="form-group"  >
        <input type="number" [(ngModel)]="currentChapter.order" name="order" ngDefaultControl class="form-control" id="exampleFormControlInput1" placeholder="Order">
      </div>
      <div class="form-group" >
        <input type="number"  [(ngModel)]="currentChapter.maxOpendHotspots" name="maxOpendHotspots" ngDefaultControl class="form-control" id="exampleFormControlInput1" placeholder="MaxOpendHotspots">
      </div>


                  <div class="row row-button">
 <div class="button">
<button  mat-raised-button id="modal-back-button" (click)="editChapter();" class="button-basis">Edit</button>
</div>
 <div class="button">
<button  mat-raised-button id="modal-back-button" style="background:red" (click)="deleteChapter(currentChapter.uuid)" class="button-basis">Delete</button>
</div>
</div>

    </div>
    <div class="col-6">
     <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="currentChapter.navigationMenuEnabled" name="navigationMenuEnabled" ngDefaultControl>
        <label class="form-check-label" for="gridCheck1">NavigationMenuEnabled</label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="currentChapter.navigateOnCompletion" name="navigateOnCompletion" ngDefaultControl>
        <label class="form-check-label" for="gridCheck1">NavigateOnCompletion</label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="currentChapter.pointerAllowed" name="currentChapter.pointerAllowed" ngDefaultControl>
        <label class="form-check-label" for="gridCheck1">PointerAllowed</label>
      </div>
    </div>
  </div>
</div>
</div>


<div class="cont">

 <mat-tab-group class="tab-group">
  <mat-tab class="tab" label="Content">
    <div class="col">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"> <button class="btn"  routerLink="/add-content-chapter/{{currentChapter.uuid}}"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add Content</button></th>
            <th scope="col" style="text-align:center;">Delete</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor = "let content of contents | filter:searchText">
              <th scope="row"> <button class="btn" (click)="detailContent(content.uuid)" >{{content.key}}</button></th>
              <td> <button class="btn"  (click)="deleteContent(content.uuid)"><i class="fa fa-remove"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </mat-tab>
  <mat-tab label="Comments">
  <div class="col">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"> <button class="btn"  (click)="addComment(currentExperience.uuid, currentChapter.uuid)"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add Comment</button></th>
            <th scope="col" style="text-align:center;">Delete</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor = "let comment of comments | filter:searchText">
              <th scope="row"> <button class="btn" (click)="detailComment(comment.uuid)" >{{comment.alias}}</button></th>
              <td> <button class="btn"  (click)="deleteComment(comment.uuid)"><i class="fa fa-remove"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div> </mat-tab>
  <mat-tab label="Quizes"> <div class="col">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"> <button class="btn"  (click)="addQuiz(currentExperience.uuid, currentChapter.uuid)"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add Quiz</button></th>
            <th scope="col" style="text-align:center;">Delete</th>
          </tr>
        </thead>
          <tbody>
             <tr *ngFor = "let quiz of quizes | filter:searchText">
              <th scope="row"> <button class="btn" (click)="detailQuiz(quiz.Uuid)" >{{quiz.Alias}}</button></th>
              <td> <button class="btn"  (click)="deleteChapterOption(quiz.Uuid)"><i class="fa fa-remove"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div> </mat-tab>
   <mat-tab label="Buttons"> <div class="col">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"> <button class="btn"  (click)="addButton(currentExperience.uuid, currentChapter.uuid)"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add Button</button></th>
            <th scope="col" style="text-align:center;">Delete</th>
          </tr>
        </thead>
          <tbody>
              <tr *ngFor = "let button of buttons | filter:searchText">
              <th scope="row"> <button class="btn" (click)="detailButton(currentExperience.uuid, currentChapter.uuid, button.Uuid)" >{{button.Alias}}</button></th>
              <td> <button class="btn"  (click)="deleteChapterOption(button.Uuid)"><i class="fa fa-remove"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div> </mat-tab>
    <mat-tab label="VariantSets"> <div class="col">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"> <button class="btn"  (click)="addVariantSet(currentExperience.uuid, currentChapter.uuid)"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add VariantSet</button></th>
            <th scope="col" style="text-align:center;">Delete</th>
          </tr>
        </thead>
          <tbody>
             <tr *ngFor = "let variantSet of variantSets | filter:searchText">
              <th scope="row"> <button class="btn" (click)="detailVariantSet(currentChapter.uuid, variantSet.Uuid)" >{{variantSet.Alias}}</button></th>
              <td> <button class="btn"  (click)="deleteChapterOption(variantSet.uuid)"><i class="fa fa-remove"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div> </mat-tab>


</mat-tab-group>

<mat-form-field class="input">

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input matInput [(ngModel)]="searchText" class="form-control form-control-sm ml-3 w-75" type="text"
    aria-label="Search" name="search">
</form>
</mat-form-field>

  </div>
  </div>


  </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>


