
body {
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.7em;
  color: white;
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px black;
}
.h1{
text-align: center;
font-size: 48px;
font-family: 'Bellefair';
}
.collapse{
text-align: center !important;
}
.navbar-collapse{
text-align: center !important;

}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
hr.new5 {
border: 1px solid black;
width: 40%;
}
#details{
padding-left: 60%;
float: inline-end;
}

#details i{
padding-left: 20%;
}
#details button{
display: flex;
}
#addUser button{
font-size: 24px;
font-family: 'Bellefair';
margin-bottom: 2%;

}



.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

li{
background-color: rgba(255, 255, 255, 0.63);
border-radius: 2%;
border: black;
margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;

  background-position: 35%;
  background-repeat: no-repeat;
  background-color: rgb(12 12 12);
  box-shadow: 5px 2px 3px rgb(53, 52, 52);
resize: vertical;
  max-height: 900px;
  display: block;
  position: -webkit-sticky;
position: sticky;
top: 0;
}

.list-unstyled.CTAs{
position: absolute;
bottom: 0%;
width:270px;
padding-left: 0;
padding-bottom: 10%;
opacity: 0.8;
position: -webkit-sticky;
}
.list-unstyled.components{

color: rgb(16 15 15);

}
#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}
/*header*/
#sidebar .sidebar-header {
padding: 69px;
background: rgb(0, 0, 0);
background-image: url('https://4dh6l02tbsyd40y7si3uhelp-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/LexonTech-800x500_c.jpg');
background-size: cover;
text-align: center;
}


#sidebar ul p {
  color: #fff;
  padding: 10px;
}
img{
object-fit: cover;
}

#sidebar img{
border-radius: 70%;
border-style: solid;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  font-style: inherit;
}
#sidebar ul li a:hover {
  color: rgba(128, 128, 128, 0.315);
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
color: #fff;
background: #1d2124;
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background:  #3e4042;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: black;
}


a.article, a.article:hover {
  color: #fff !important;
  background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);

}



/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;

}
#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.container-fluid{
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
margin-bottom: -5000px; /* any large number will do */
padding-bottom: 5000px;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }
  #sidebarCollapse.active span {
      margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
  }

}


#logout-button {
color: white;
background-color: #16163f;
border: 1px solid black;
}

#delete-product-button {
color: white;
background-color: #145214;
border: 1px solid black;
}

.card{
  background-color: rgba(228, 222, 222, 0.171);
  min-height: 310px;
}
.card-body{
  padding: 0%;
}
.card-img-top{
  min-height: 200px;
  min-width: 100px;

}
.card-title{
  text-align: center;
  font-family: inherit;
}
@media (min-width: 576px){
.card-columns .card {
    width: 100%;
    display: inline-block;
  }
}


.edit {
    position: absolute;
    top: 13%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1c111182;
    color: #dee2e6;
    font-size: 22px;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.edit:hover {
  background-color: black;
}


.center {
  margin: 0;
  position: absolute;
  min-width: 58%;
  min-height: 58%;
  background: transparent;
  top: 7%;
  left: 20%;
  font-size: 128px;
  border: none;

}


.center:hover{
  background-color: transparent;
  border: none;

}
.center::after{
  background-color: transparent;
  border: none;
}
.delete{
  position: absolute;
  top: 13%;
  right: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #a21818bf;
  color: #dee2e6b0;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.delete:hover {
  background-color: black;
}

.container{
  margin: auto;
  width: 60%;
}

.container2{
  margin: auto;
  width: 60%;
  padding-top: 3%;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #673ab7;

}

input[type=textL] {
  width: 100%;
  padding: 12px 20px;
  margin: 0 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #673ab7;
  text-align: center;

}

.mat-tab-label {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}


input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #673ab7;
  padding-bottom: 2%;
}

.form-check {
 padding-top: 2%;
}


.button{
  text-align: center;
  padding-top: 5%;
}

#inputField{
  width: 39%;
  margin-bottom: 3%;
}
.custom-select{
  width: 56%;
  /* margin-bottom: 3%; */
  margin-top: 2%;
  margin-left: 2%;
}

