<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
              <li>
                <a href="/list-user">User</a>
              </li>
              <li >
                <a href="/add-content">Content</a>
              </li>
              <li>
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/home" class="article">Go back</a>
              </li>
            </ul>
    </nav>
      <div id="content">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>
              <h1 class="h1">ADD CHAPTER OPTION</h1>
              <hr class="new5">





<div class="container">
<mat-tab-group mat-align-tabs="center" >

  <mat-tab label="Add Button">

  <div class="container2">

  <div class="form-group">
Select optiontype
 <select class="custom-select" [(ngModel)]="selectedNav" (change)="setNav(selectedNav)" >
  <option *ngFor="let q of navs" [value]="q"> {{q}} </option>
    </select>
    <div *ngIf="regTypeSelectedOption === 'Button'">
      <form>
     <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="button.alias" id="inputEmail3" placeholder="Alias" name="button.alias" ngDefaultControl>
    </div>

        <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="button.autoOpen" name="button.autoOpen" ngDefaultControl>
  <label class="form-check-label" for="defaultCheck1">
    AutoOpen
  </label>
  </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <input type="number" class="form-control" [(ngModel)]="button.order" id="inputEmail3" placeholder="Order" name="button.order" ngDefaultControl>
    </div>
  </div>

  <div class="form-group">
    <div class="row ">
      <div class="col col-md-auto">
        <label for="exampleFormControlSelect2">Location</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1" [(ngModel)]="location.x" placeholder="X" name="location.x" ngDefaultControl>
        </div>
        <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1"[(ngModel)]="location.y"  placeholder="Y" name="location.y" ngDefaultControl>
        </div>
          <div class="form-group">
            <input type="textL" class="form-control" id="exampleFormControlInput1" [(ngModel)]="location.z" placeholder="Z" name="location.z" ngDefaultControl>
          </div>
      </div>
   </div>
  </div>

 <div class="form-group " [(ngModel)]="button.buttonType" name="button.buttonType" ngDefaultControl>
  <select class="custom-select" (change)="onSelectButtonType($event)">
  <option selected>Select buttonttype</option>
  <option *ngFor="let item of buttonTypeTexts | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
  </select>
  </div>


<div class="form-group " [(ngModel)]="teleport.teleportTarget" name="teleport.teleportTarget" ngDefaultControl>
  <select class="custom-select" (change)="onSelectTargetType($event)">
  <option selected>Select teleport to</option>
  <option *ngFor="let item of chaptersExp" [value]="item.uuid" >{{item.alias}}</option>
  </select>
</div>


 <div class="form-group " [(ngModel)]="button.visibility" name="button.visibility" ngDefaultControl>
  <select class="custom-select" (change)="onSelectVisibilityButton($event)">
  <option selected>Select Visibility</option>
  <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
</select>
    </div>

</form>

    <div class="button">
<button  mat-raised-button id="modal-back-button" (click)="addButton();" class="btn btn-primary">Edit</button>
</div>

    </div>

    <div *ngIf="regTypeSelectedOption === 'VariantSet'">
      <form>

         <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="variant.alias"  placeholder="AliasVariant" name="vaalias" ngDefaultControl>
    </div>

       <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="variant.variantName"  placeholder="VariantName" name="variantName" ngDefaultControl>
    </div>

     <div class="form-group row">
        <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="variantSet.setName" placeholder="SetName" name="vSalias" ngDefaultControl>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <input type="number" class="form-control" [(ngModel)]="variantSet.order" placeholder="Order" name="VSorder" ngDefaultControl>
    </div>
  </div>

  <div class="form-group">
    <div class="row ">
      <div class="col col-md-auto">
        <label for="exampleFormControlSelect2">Location</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="textL" class="form-control" [(ngModel)]="location.x" placeholder="X" name="location.x" ngDefaultControl>
        </div>
        <div class="form-group">
          <input type="textL" class="form-control" [(ngModel)]="location.y"  placeholder="Y" name="location.y" ngDefaultControl>
        </div>
          <div class="form-group">
            <input type="textL" class="form-control"  [(ngModel)]="location.z" placeholder="Z" name="location.z" ngDefaultControl>
          </div>
      </div>
   </div>
  </div>

 <div class="form-group " [(ngModel)]="variantSet.visibility" name="variantSet.visibility" ngDefaultControl>
  <select class="custom-select" (change)="onSelectVisibilityButton($event)">
  <option selected>Select Visibility</option>
  <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
</select>
    </div>

</form>

    <div class="button">
<button  mat-raised-button id="modal-back-button" (click)="addVariantSet();" class="btn btn-primary">Variant</button>
</div>

    </div>


    <div *ngIf="regTypeSelectedOption === 'Quiz'">
      <div class="container2">
    <form>
     <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="quiz.alias" id="inputEmail3" placeholder="Alias" name="quiz.alias" ngDefaultControl>
    </div>

        <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="quiz.autoOpen" name="quiz.autoOpen" ngDefaultControl>
  <label class="form-check-label" for="defaultCheck1">
    AutoOpen
  </label>
  </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <input type="number" class="form-control" [(ngModel)]="quiz.order" id="inputEmail3" placeholder="Order" name="quiz.order" ngDefaultControl>
    </div>
  </div>
  <div class="form-group">
    <div class="row ">
      <div class="col col-md-auto">
        <label for="exampleFormControlSelect2">Location</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1" [(ngModel)]="location.x" placeholder="X" name="location.x" ngDefaultControl>
        </div>
        <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1"[(ngModel)]="location.y"  placeholder="Y" name="location.y" ngDefaultControl>
        </div>
          <div class="form-group">
            <input type="textL" class="form-control" id="exampleFormControlInput1" [(ngModel)]="location.z" placeholder="Z" name="location.z" ngDefaultControl>
          </div>
      </div>
   </div>
  </div>

 <div class="form-group " [(ngModel)]="quiz.visibility" name="quiz.visibility" ngDefaultControl>
  <select class="custom-select" (change)="onSelectVisibilityQuiz($event)">
  <option selected>Select Visibility</option>
  <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
</select>
    </div>

    <div class="form-group row">
    <div class="col-sm-10">

      <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="quiz.autoOpen" name="quiz.autoOpen" ngDefaultControl>
  <label class="form-check-label" for="defaultCheck1">
    Correct
  </label>
  </div>

    </div>
  </div>

    </form>
    </div>



    <div class="button">
<button  mat-raised-button id="modal-back-button" (click)="addQuiz();" class="btn btn-primary">Edit</button>
</div>
    </div>

</div>



    </div>



  </mat-tab>



   <mat-tab label="Add Content">
 <div class="container2">
<form>
 <div class="form-group ">
      <select placeholder="Select"  id="exampleFormControlSelect1" class="form-control" (change)="onSelectedChapterOption($event)" >
        <option selected >Select</option>
        <option *ngFor="let chapterOption of chapterOptionsList" [value]="chapterOption.uuid"> {{chapterOption.Alias}}</option>
      </select>
    </div>

 <hr class="new5">
  <div class="form-group"  [(ngModel)]="content.key" name="content.key" ngDefaultControl>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Key">
  </div>

<!-- File Button -->
<div class="form-group">
  <div class="col-md-5">
    <div class="input-group mb-3">
      <div class="custom-file" >
        <input type="file" class="custom-file-input" id="inputGroupFile01"  (change)="onSelected($event);">>
        <label class="custom-file-label" style="text-align:left;"for="inputGroupFile01">Choose file</label>
              <button type="button" >Upload </button>
      </div>
    </div>
  </div>
</div>
              <label for="url" style="font-family:unset; font-weight:600;">File</label>
        <img src="{{url}}" style="width:40%; display:block;">


   <div class="form-group " [(ngModel)]="content.type" name="content.type" ngDefaultControl (change)="onSelectType($event);">
      <select id="exampleFormControlSelect1" class="form-control" >
        <option selected>Select Type</option>
        <option *ngFor="let item of contentTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
      </select>
    </div>
 <div class="form-group" [(ngModel)]="content.value" name="content.value" ngDefaultControl>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Value text">
  </div>


  <div class="form-group" [(ngModel)]="content.quality" name="content.quality" ngDefaultControl>
    <select class="form-control" id="exampleFormControlSelect1" (change)="onSelectQuality($event)">
     <option selected>Select Quality</option>
      <option *ngFor="let quality of qualities">{{quality}}</option>
    </select>
  </div>


    <div class="form-group " [(ngModel)]="content.visibility" name="content.visibility" ngDefaultControl>
      <select id="exampleFormControlSelect1" class="form-control" (change)="onSelectVisibilityContent($event)">
        <option selected>Select Visibility</option>
        <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
      </select>
    </div>


  <div class="form-group" [(ngModel)]="content.alias" name="content.alias" ngDefaultControl>
    <textarea placeholder="Alias " class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</div>

 <div class="form-group" [(ngModel)]="contentQ.alias" name="contentQ.alias" ngDefaultControl>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Question">
  </div>

 <div class="form-group" [(ngModel)]="contentA.alias" name="contentA.alias" ngDefaultControl>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Answer">
  </div>

<div class="button">
<button  mat-raised-button id="modal-back-button" (click)="getQuestion();" class="btn btn-primary">getQuestion</button>
</div>

<div class="button">
<button  mat-raised-button id="modal-back-button" (click)="getAnswer();" class="btn btn-primary">getAnswer</button>
</div>

<div class="button">
<button  mat-raised-button id="modal-back-button" (click)="createContent();" class="btn btn-primary">content</button>
</div>

  </mat-tab>

</mat-tab-group>



</div>


</div>


  </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>
