<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
             <li>
                <a href="/list-user">User</a>
              </li>
              <li class="active">
                <a href="/add-content">Content</a>
              </li>
              <li>
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/home" class="article">Go back</a>
              </li>
            </ul>
    </nav>
      <div id="content">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>


            <h1 class="h1" style="text-transform: uppercase;"> DETAIL  </h1>
                <hr class="new5">

<div class="container" >
  <form class="form">

  <div class="form-group"  ngDefaultControl>
    <input type="text" [(ngModel)]="currentContent.key" name="key" class="form-control" id="exampleFormControlInput1" >
  </div>


   <div class="form-group " ngDefaultControl (change)="onSelectType($event);">
      <select id="exampleFormControlSelect1"  [(ngModel)]="currentContent.type" name="content.type" class="form-control" >
        <option selected>Select Type</option>
        <option *ngFor="let item of contentTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
      </select>
    </div>
 <div class="form-group"  ngDefaultControl>
    <input type="text"  [(ngModel)]="currentContent.value" name="content.value" class="form-control" id="exampleFormControlInput1" >
  </div>


  <div class="form-group"  ngDefaultControl>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="currentContent.quality" name="content.quality" (change)="onSelectQuality($event)">
     <option selected>Select Quality</option>
      <option *ngFor="let quality of qualities">{{quality}}</option>
    </select>
  </div>


    <div class="form-group " ngDefaultControl>
      <select id="exampleFormControlSelect1"  [(ngModel)]="currentContent.visibility" name="content.visibility" class="form-control" (change)="onSelectVisibility($event)">
        <option selected>Select Visibility</option>
        <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
      </select>
    </div>


  <div class="form-group" ngDefaultControl>
    <textarea placeholder="Alias "  [(ngModel)]="currentContent.alias" name="content.alias" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)="editContent()" >Edit</button>
    </div>
  </div>
        </form>
</div>

       </div>
  </div>




    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>



