<div class="container" >
<div class="row">
<div class="col">

        <button class="back-button"(click)="closeModal()" >
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>

    </div>
       <div class="col">

         <button   id="modal-action-button" (click)="disabled = !disabled; btnFunction(); ">
            <i class="fa fa-edit"></i>
        </button>

    </div>
</div>
  <div class="row imageRow">
    <div class="col-1 ">
       <div class="p-3 ">
        <div class="col deleteCol">
          <button class="btn" id="btn" *ngIf="url"  (click)="delete()"> <i class="fa fa-close" style="font-size:20px; "></i></button>
        </div>
        <div class="col-4">
          <label class="hoverable" for="fileInput">
            <img [src]="url ? url : 'https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/' + currentUser.profilePicture">
              <div class="hover-text">Choose file</div>
                <div class="background">
                </div>
                    </label>
                    <input id="fileInput" type='file' (change)="onSelectFile($event)">
              </div>
         </div>
      </div>
  </div>
   <div class="row">
    <div class="col">
       <div class="p-3 textFieldRow">
           <input type="text" id="username"  [(ngModel)]="currentUser.userName" name="username" [disabled]="disabled"/>
       </div>
    </div>
  </div>
   <div class="row">
    <div class="col">
       <div class="p-3 textFieldRow">
         <input type="text" id="firstname"  [(ngModel)]="currentUser.firstName" name="firstname" [disabled]="disabled"/>
       </div>
    </div>
  </div>
   <div class="row">
    <div class="col">
       <div class="p-3 textFieldRow">
         <input type="text" id="lastname"  [(ngModel)]="currentUser.lastName" name="lastname" [disabled]="disabled"/>
       </div>
    </div>
  </div>
   <div class="row">
    <div class="col">
       <div class="p-3 textFieldRow">
         <input type="text" id="email"   [(ngModel)]="currentUser.email" name="email" [disabled]="disabled" />
       </div>
    </div>
  </div>
     <div class="row">
    <div class="col">
       <div class="p-3 textFieldRow">
         <input type="text" id="profileColor"   [(ngModel)]="currentUser.profileColor" name="currentUser.profileColor" [disabled]="disabled" />
       </div>
    </div>
  </div>
    <div class="row">
    <div class="col">
       <div class="p-3 textFieldRow">
          <div class="form-group ">
                <select  [disabled]="disabled" style="color: white;" [(ngModel)]="currentUser.gender" name="currentUser.gender" ngDefaultControl (change)="onSelectType($event);" id="exampleFormControlSelect1" class="form-control" >
                  <option style="color:black;" selected>Select Type</option>
                  <option style="color:black;"*ngFor="let item of genderTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
                </select>
          </div>
       </div>
    </div>
  </div>

     <div class="row">


        <div class="col buttonsCol">

          <button *ngIf=" btn" class="button-basis" (click)="editUser()" >
            Save
        </button>

    </div>
           <div class="col buttonsCol">

         <button class="cancel-button" *ngIf="btn" (click)="deleteUser()">
            Delete
        </button>

    </div>
  </div>
</div>

