#modal-content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  color: white;
  background-color: #4e4e4e;
}

#modal-title {
  font-size: 22px;
}

#modal-footer {
  justify-self: right;
  align-self: center;
}

#modal-action-button {
  margin-right: 30px;
  background-color:#3b3b3b;
  color: white;
}

.cancel-button {
  background-color: #ff0018;
  width: 62%;
  height: 106%;
  color: white;
  margin-top: 2%;
  text-align: center;
  border: none;
}

#modal-action-button{
  width: 28%;
  outline: 0;
  background: transparent;
  border: none;
  margin-right: 2%;
  margin-top: -2%;
  color: black;
  font-size: 29px;
}
#modal-action-button{
  float: right;
}

.back-button{

     outline: 0;
     margin-right: -16%;
     background: #212122;
     border: none;
     color: black;
     font-size: 26px;
}
::ng-deep.mat-dialog-container{
  background: linear-gradient(90deg, rgb(33 33 34) 27%, rgba(82,10,122,1) 61%, #673ab7 95%);
}


#exampleFormControlSelect1{
  background: transparent;
    border-top: none;

    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}
input[type=text] {
  width: 100%;
  padding: 2px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-size: 15px;
  color: white;
  background: transparent;
}

.button-basis{
  background-color: #4e3ea0b9;
  width: 62%;
  height: 106%;
  color: white;
  margin-top: 2%;
  /* border-radius: 9%; */
  text-align: center;
  border: none;

}
.buttonsCol{
  text-align: center;
}
.textFieldRow{
  padding: 2% !important;
}
.imageRow{
  padding-left: 13%;
  margin-top: -8%;
  padding-left: 18%;
  padding-right: 25%;
}
img
{
  border-style: solid;
  background-position: center;
height:130px;
 width: 130px;
 border-radius: 60%;
}



p {
  font-family: Lato;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: gray;
  object-fit: cover;
}
#btn{
    border: none;
color: white;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #000000a8;;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.form{
  float:right;
  width: 90%;
}

.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:#4f3ea094;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
  color: #ffffffb5;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
