<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
             <li>
                <a href="/list-user">User</a>
              </li>
              <li>
                <a href="/add-content">Content</a>
              </li>
              <li class="active">
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/list-experience" class="article">Go back</a>
              </li>
            </ul>
    </nav>

      <div id="content">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>
      <h1 >Button: {{currentChapterOption.Alias}}</h1>



<div class="container" style="color:white; margin-top:1%">
  <h5 class="h5" style=" text-align: left; padding-bottom:3%; padding-top:3%;">Basis informatie</h5>
    <div class="row">
      <div class="col-6 row1">
        <div class="form-group " ngDefaultControl>
  <select class="custom-select" (change)="onSelectVisibility($event)" [(ngModel)]="currentChapterOption.Visibility" name="currentChapterOption.visibility" ngDefaultControl>
  <option selected>Select Visibility</option>
  <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
</select>
    </div>
        <div class="form-group inputfield">
          <input type="text" class="form-control" [(ngModel)]="currentChapterOption.Alias" id="inputEmail3" placeholder="Alias" name="button.alias" ngDefaultControl>
        </div>
        <div class="form-group inputfield">
          <input type="number" class="form-control" [(ngModel)]="currentChapterOption.Order" id="inputEmail3" placeholder="Order" name="button.order" ngDefaultControl>
        </div>
 <div class="button">
<button  mat-raised-button id="modal-back-button" (click)="editChapterOption();" class="button-basis">Edit</button>
</div>
      </div>
    <div class="col-6 row2">

 <div class="row">
    <div class="col-3">
             <div class="form-group">
          <label for="exampleFormControlSelect2">Location</label>
        </div>
    </div>
    <div class="col-3 borderline">
      <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1" [(ngModel)]="currentChapterOption.Location.x" placeholder="X" name="location.x" ngDefaultControl>
        </div>
    </div>
    <div class="col-3 borderline">
         <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1"[(ngModel)]="currentChapterOption.Location.y"  placeholder="Y" name="location.y" ngDefaultControl>
        </div>
    </div>
     <div class="col-3">
          <div class="form-group">
          <input type="textL" class="form-control" id="exampleFormControlInput1" [(ngModel)]="currentChapterOption.Location.z" placeholder="Z" name="location.z" ngDefaultControl>
        </div>
    </div>
  </div>
   <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="currentChapterOption.AutoOpen" name="button.autoOpen" ngDefaultControl>
            <label class="form-check-label" for="defaultCheck1">AutoOpen</label>
        </div>
    </div>
</div>
</div>


<div class="cont">

 <mat-tab-group class="tab-group">
  <mat-tab class="tab" label="Content">
    <div class="col">
        <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"> <button class="btn"  routerLink="/add-content"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add Content</button></th>
            <th scope="col" style="text-align:center;">Delete</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor = "let content of contents">
              <th scope="row"> <button class="btn" (click)="detailContent(content.uuid)" >{{content.key}}</button></th>
              <td> <button class="btn"  (click)="deleteContent(content.uuid)"><i class="fa fa-remove"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>

  </mat-tab>
  <mat-tab label="Specific properties">
  <div class="col buttonTypeCol">
      <div class="form-group tab-body"  ngDefaultControl>
        <select class="custom-select"  [(ngModel)]="currentChapterOption.ButtonType" name="currentChapterOption.ButtonType" style="width:19%;" (change)="onSelectButtonType($event);">
          <option selected>Select button type</option>
          <option *ngFor="let item of buttonTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
        </select>
      </div>
    </div>


     <div >Content
    </div>
    <div class="col bodyCol"  >
      <div class="form-group tab-body"  ngDefaultControl>
        <select class="custom-select" *ngIf="showTextBoxTeleport" [(ngModel)]="currentChapterOption.Teleport.teleportTarget" name="teleport.teleportTarget" style="width:19%;" (change)="onSelectTeleportTo($event);">
          <option selected>Select teleport to</option>

        </select>
      </div>
      <div class="form-group tab-body" ngDefaultControl>
        <select class="custom-select" *ngIf="showTextBoxTeleport"  [(ngModel)]="currentChapterOption.Teleport.targetType" name="teleport.targetType"style="width:19%;" (change)="onSelectTargetType($event)">
          <option selected>Select target type</option>
          <option *ngFor="let item of targetTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
        </select>
      </div>
      
    </div>

    <div class="col bodyCol" *ngIf="showTextBoxChangeVars" >ChangeVars
      <div class="form-group tab-body">
        <input type="textL"  style="width:19%;" class="form-control" id="exampleFormControlInput1"  placeholder="Value" name="location.z" ngDefaultControl>
      </div>
    </div>
    <div class="col bodyCol" *ngIf="showTextBoxSwitch" > Switch
      <div class="form-check tab-body">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  name="currentChapterOption.AutoOpen" ngDefaultControl>
          <label class="form-check-label" for="defaultCheck1">Enabled</label>
      </div>
    </div>
     </mat-tab>





</mat-tab-group>

  </div>
  </div>


  </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>


