<!DOCTYPE html>
<html style="background: #2A2A2A;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
              <li class="active">
                <a href="/list-user">User</a>
              </li>
              <li>
                <a href="/add-content">Content</a>
              </li>
              <li>
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/home" class="article">Go back</a>
              </li>
            </ul>
    </nav>
      <div id="content">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="row title-row">
              <h1 class="h1">USER PAGE</h1>
                <button class="btn" routerLink="/add-user" style="color:#4F3EA0;">
              <i class="fa fa-plus" aria-hidden="true" style="font-size:16px; color:#4F3EA0;">
              </i> Add new User
            </button>
          </div>
<div class="row card-row">
  <div class="card" *ngFor = "let user of users">
    <button class="btn"(click)="openModal(user.uuid)">
      <img class="card-img-top" src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{user.profilePicture}}" alt="Card image cap">
        <h6 class="card-title">{{user.firstName}} {{user.lastName}}
        </h6>
    </button>
  </div>
</div>
       </div>
  </div>


</body>
</html>
