<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
             <li>
                <a href="/list-user">User</a>
              </li>
              <li>
                <a href="/add-content">Content</a>
              </li>
              <li class="active">
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/list-experience" class="article">Go back</a>
              </li>
            </ul>
    </nav>

      <div id="content">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>
      <h1 >Add new content </h1>


<div class="container">
      <h5 class="h5" style=" color: #ffffff96; ">Select item to add content</h5>
  <div class="row">
    <!-- Experience Combobox -->
    <div class="col comboboxform">
      <div class="row" style="padding-left:5%;">
       <div class="form-group">
          <select  id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectExperience($event)" >
            <option selected >Select Experience</option>
            <option *ngFor="let experience of experiences" [value]="experience.uuid">{{experience.alias}}</option>
          </select>
        </div>
      </div>
        <!-- Select Content Combobox -->
      <div class="row" style="padding-left:5%;">
        <h5 class="h5" style=" color: #ffffff96; padding-left:5%;"> Contents of selected item</h5>
          <div class="form-group" >
            <select  id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectContent($event)">
              <option selected>Select Content</option>
              <option *ngFor="let content of contents" [value]="content.uuid">{{content.key}}</option>
            </select>
          </div>
      </div>
    </div>
    <!-- Chapter Combobox -->
    <div class="col comboboxform" *ngIf="chapterSelection">
       <div class="form-group " >
          <select #chapter id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectChapter($event)">
            <option selected>Select Chapter</option>
            <option *ngFor="let chapter of chapters" [value]="chapter.uuid">{{chapter.alias}}</option>
          </select>
      </div>
    </div>
    <!-- ChapterOptions & Comments Combobox -->
    <div class="col comboboxform" >
      <div class="row" *ngIf="chapterOptionSelection">
         <div class="form-group ">
            <select placeholder="Select"  id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectedChapterOption($event)" >
              <option selected >Select ChapterOption</option>
                <ng-container *ngFor="let chapterOption of chapterOptions" >
                  <option *ngIf="chapterOption.OptionType == 0" [value]="chapterOption.Uuid">Quiz: {{chapterOption.Alias}}</option>
                  <option *ngIf="chapterOption.OptionType == 1" [value]="chapterOption.Uuid">Button: {{chapterOption.Alias}}</option>
                  <option *ngIf="chapterOption.OptionType == 2" [value]="chapterOption.Uuid">VariantSet: {{chapterOption.Alias}}</option>
                </ng-container>
            </select>
          </div>
        </div>
      <div class="row" *ngIf="commentSelection">
        <div class="form-group">
          <select placeholder="Select"  id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectedComment($event)" >
            <option selected >Select Comment</option>
              <ng-container *ngFor="let comment of comments" >
                <option [value]="comment.uuid">{{comment.alias}}</option>
              </ng-container>
          </select>
        </div>
      </div>
    </div>
    <!-- Question & Variant Combobox -->
    <div class="col comboboxform">
       <div class="row" *ngIf="questionSelection">
          <div class="form-group " >
            <select id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectQuestion($event)">
              <option selected>Select Question</option>
              <option *ngFor="let question of questions; " [value]="question.uuid">{{question.content[0].value}}</option>
            </select>
          </div>
        </div>
      <div class="row" *ngIf="variantSelection">
        <div class="form-group " >
          <select  id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectVariant($event)">
            <option selected>Select Variant</option>
            <option *ngFor="let variant of variants; " [value]="variant.uuid">{{variant.alias}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- Answer Combobox -->
    <div class="col comboboxform" *ngIf="answerSelection">
       <div class="form-group " >
          <select id="exampleFormControlSelect" class="form-control comboboxStyle" (change)="onSelectAnswer($event)">
            <option selected>Select Answer</option>
            <option *ngFor="let answer of answers;" [value]="answer.uuid">{{answer.content[0].value}}</option>
          </select>
        </div>
    </div>
  </div>
</div>








<div class="cont" >


<!-- ADD-->
    <div class="container" *ngIf="!show" style="color:white; margin-top:1%">
      <h5 class="h5" style=" text-align: left; padding-bottom:3%; padding-top:3%;">Add new content</h5>
        <div class="row">
          <div class="col col1">
            <div class="form-group inputfield">
              <div class="form-group"  [(ngModel)]="content.key" name="content.key" ngDefaultControl>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Key">
              </div>
              <div class="form-group" [(ngModel)]="content.quality" name="content.quality" ngDefaultControl>
                <select class="form-control" id="exampleFormControlSelect1" (change)="onSelectQuality($event)">
                  <option selected>Select Quality</option>
                  <option *ngFor="let quality of qualities">{{quality}}</option>
                </select>
              </div>
              <div class="form-group " [(ngModel)]="content.visibility" name="content.visibility" ngDefaultControl>
                <select id="exampleFormControlSelect1" class="form-control" (change)="onSelectVisibility($event)">
                  <option selected>Select Visibility</option>
                  <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
                </select>
              </div>
              <div class="form-group" [(ngModel)]="content.alias" name="content.alias" ngDefaultControl>
                <textarea placeholder="Alias " class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="button">
                <button  mat-raised-button id="modal-back-button" (click)="createContent()" class="button-basis">Add</button>
              </div>
            </div>
          </div>
          <div class="col col2">
            <div class="form-group inputfield">
              <div class="form-group " [(ngModel)]="content.type" name="content.type" ngDefaultControl (change)="onSelectType($event); textBoxActive();">
                <select id="exampleFormControlSelect1" class="form-control" >
                  <option selected>Select Type</option>
                  <option *ngFor="let item of contentTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="showTextBox" [(ngModel)]="content.value" name="content.value" ngDefaultControl>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Value text">
              </div>
            </div>


            <div class="form-group inputfield">
              <div class="input-group mb-3">
                <div class="custom-file" >
                  <input type="file" class="custom-file-input" id="inputGroupFile01"  (change)="onSelected($event);">>
                    <label class="custom-file-label" style="text-align:left;"for="inputGroupFile01">Choose file</label>
                      <button type="button" >Upload </button>
                  </div>
                </div>
              </div>
              </div>
                        <div class="col col3">
                <img class="contentImg" src="{{url}}" style=" display:block;">
            </div>

        </div>
      </div>




<!-- EDIT-->

<div class="container" *ngIf="show" style="color:white; margin-top:1%">
<h5 class="h5" style=" text-align: left; padding-bottom:3%; padding-top:3%;">Edit content {{currentContent.alias}}</h5>
    <div class="row">

  <div class="col col1">
            <div class="form-group inputfield">
              <div class="form-group">
                <input type="text"[(ngModel)]="currentContent.key" name="currentContent.key" ngDefaultControl class="form-control" id="exampleFormControlInput1" placeholder="Key">
              </div>
              <div class="form-group">
                <select  [(ngModel)]="currentContent.quality" name="currentContent.quality" ngDefaultControl class="form-control" id="exampleFormControlSelect1" (change)="onSelectQuality($event)">
                  <option selected>Select Quality</option>
                  <option *ngFor="let quality of qualities">{{quality}}</option>
                </select>
              </div>
              <div class="form-group ">
                <select  [(ngModel)]="currentContent.visibility" name="currentContent.visibility" ngDefaultControl id="exampleFormControlSelect1" class="form-control" (change)="onSelectVisibility($event)">
                  <option selected>Select Visibility</option>
                  <option *ngFor="let item of visibilityTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <textarea  [(ngModel)]="currentContent.alias" name="currentContent.alias" ngDefaultControl placeholder="Alias " class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
                    <div class="row row-button">
 <div class="button">
<button  mat-raised-button id="modal-back-button" (click)="editContent();" class="button-basis">Edit</button>
</div>
 <div class="button">
<button  mat-raised-button id="modal-back-button" style="background:red" (click)="deleteContent(this.selectedItemUuidToAddContent);" class="button-basis">Delete</button>
</div>
</div>
            </div>
          </div>
          <div class="col col2">
            <div class="form-group inputfield">
              <div class="form-group ">
                <select [(ngModel)]="currentContent.type" name="currentContent.type" ngDefaultControl (change)="onSelectType($event); textBoxActive();" id="exampleFormControlSelect1" class="form-control" >
                  <option selected>Select Type</option>
                  <option *ngFor="let item of contentTypes | enumToArrayPipe" [value]="item.index" >{{item.name}}</option>
                </select>
              </div>
              <div class="form-group"  *ngIf="showTextBox" >
                <input type="text" [(ngModel)]="currentContent.value" name="currentContent.value" ngDefaultControl class="form-control" id="exampleFormControlInput1" placeholder="Value text">
              </div>
            </div>
            <div class="form-group inputfield">
              <div class="input-group mb-3">
                <div class="custom-file" >
                  <input type="file" class="custom-file-input" id="inputGroupFile01"  (change)="onSelected($event);">>
                    <label class="custom-file-label" style="text-align:left;"for="inputGroupFile01">Choose file</label>
                      <button type="button" >Upload </button>
                  </div>
                </div>
              </div>
              </div>
              <div class="col ">

                <img class="contentImg" [src]="url ? url : 'https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/Content/' + this.uuidExperience + '/'+currentContent.value">
                       <button class="btn" id="btn" *ngIf="url"  (click)="delete()"> <i class="fa fa-close" style="font-size:20px; ">Reset</i></button>

              </div>



        </div>

</div>




  </div>
  </div>


  </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>


