body {
  font-family: "Lato", sans-serif;
}



.main-head{
  height: 150px;
  background: #FFF;

}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: url('https://media3.giphy.com/media/3ohhwpLfOYeekXZMPu/giphy.gif');
  background-repeat: no-repeat;
  background-size:cover;
}


.main {
  padding: 0px 10px;
  display: flex;
}

@media screen and (max-height: 50px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

.col-md-6{
padding-top:45%;
}
@media screen and (min-width: 768px){
  .main{
      margin-left: 50%;
  }

  .sidenav{
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}


