#content{
  background-color: #0c0c0c;
  max-height: max-content;
}
#top,
#bottom {
  position: fixed;
  left: 0;
  right: 0;

}

#top {
  top: 10%;
  background-color: rgba(255, 166, 0, 0.274);
  height: 55%;
}

.button-chapter-add{
  margin-top: 2%;
  background-size: cover;
  min-height: 174px;
  text-align: center;
  /* background-position: center; */
  display: flex;
  position: inherit;
  border-radius: 12%;
  background-color: #242424;
  text-align: center;
  padding-top: 6%;
  color: #E6E6E6;
  padding-left: 1%;
}

.chapters{

  color: white;
  bottom: 0%;
  padding-left: 5%;
  bottom: 0%;
  padding-right: 5%;

}
.cont{
  display: flex;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: rgb(29 28 28 / 60%);
  color: white;
  opacity: 1;
}

.row1{

  padding-left: 2%;
  text-align: left;
  border-right: 3px solid gray;
}
.row2{
  margin-left: 5%;
}
.buttonTypeCol{
  padding-bottom: 1%;
  background-color: #181818;
  height: auto;
}

.bodyCol{
  background-color: #292929b3;
  height: auto;
  padding-bottom: 1%;
  border-top: 2px solid gray;
}

::ng-deep.mat-form-field{
  background-color: #18191869;
  margin-top: 4%;
  border-top: 3px solid #242424;
  color:white;
  opacity: 1;
}

::ng-deep.mat-tab-group {
  background-color: #18191869;
  margin-top: 4%;
  width: 95%;
  border-top: 3px solid #242424;
  height: 50%;
  color: white;
  opacity: 1;
}
::ng-deep.mat-tab-label{
  color:white;
}
.container{

  padding-left: 6%;
  padding-right: 6%;
  margin-left: 0%;
}

form{
  text-align: inherit;
  margin-top: 2%;
}


body {
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.7em;
  color: white;
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.custom-select{
  width: 40%;
}

.tab-body{
  text-align: left;
}
.borderline{
  border-right: 2px solid #7e7e7e;
}
.inputfield{
  width: 40%;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px black;
}
h1{
font-size: 28px;
font-family: "Gill Sans", sans-serif;
text-align: center;
color:white;
margin-right: 11%;
}
.collapse{
text-align: center !important;
}
.navbar-collapse{
text-align: center !important;

}


.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;

}
hr.new5 {
border: 1px solid black;
width: 40%;
}
#details{
padding-left: 60%;
float: inline-end;
}

#details i{
padding-left: 20%;
}
#details button{
display: flex;
}
#addUser button{
font-size: 24px;
font-family: 'Bellefair';
margin-bottom: 2%;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

li{
background-color: rgba(255, 255, 255, 0.63);
border-radius: 2%;
border: black;
margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
  background-position: 35%;
  background-repeat: no-repeat;
  background-color: rgb(12 12 12);
  box-shadow: 5px 2px 3px rgb(53, 52, 52);
resize: vertical;
  max-height: 900px;
  display: block;
  position: -webkit-sticky;
position: sticky;
top: 0;
}

.list-unstyled.CTAs{
position: absolute;
bottom: 0%;
width:270px;
padding-left: 0;
padding-bottom: 10%;
opacity: 0.8;
position: -webkit-sticky;
}
.list-unstyled.components{

color: rgb(16 15 15);

}
#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}
/*header*/
#sidebar .sidebar-header {
padding: 69px;
background: rgb(0, 0, 0);
background-image: url('https://4dh6l02tbsyd40y7si3uhelp-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/LexonTech-800x500_c.jpg');
background-size: cover;
text-align: center;
}
.col-md-2{
  margin: 0%;
  padding: 0%;
}
.col{
  text-align: center;
  padding-left: 5%;
  max-height: 102%;
  padding-right: 13%;
  padding-top: 2%;
}
.card-body{
  margin: 0%;
  padding: 0;
}

.card-img-top {
background-color: red;


}
h6{
  padding-top: 5%;
}
.col-table{
background-color:  rgba(0, 0, 0, 0.568);
  text-align: left;
  border-radius: 2%;
}

.button-basis{
  background-color: #4e3ea0b9;
  color: white;
  margin-top: 2%;
  text-align: center;
  border: none;
}
.button{
  margin-right: 3%;
}
.row-button{
  margin-left: 3%;
}
.col-form-label{
  padding-right: 10%;
}

.col-basisinfo{

  padding-left: 2%;
  text-align: left;
  border-right: 3px solid gray;
  border-radius: 2%;
}

.row-basisinfo{
  padding-top: 6%;
}
.btn{
  background:transparent;
  margin-right: 2%;
  color: white;
  font-weight: bold;
}

.btn2{
  background: transparent;
  margin-right: 2%;
  color: white;
  /* font-weight: bold; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
img{
object-fit: cover;
}

#sidebar img{
border-radius: 70%;
border-style: solid;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  font-style: inherit;
}
#sidebar ul li a:hover {
  color: rgba(128, 128, 128, 0.315);
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
color: #fff;
background: #4F3EA0
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background:  #3e4042;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: black;
}


a.article, a.article:hover {
  color: #fff !important;
  background-color: #4f3ea0;

}



/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background-color: #4F3EA0;
  cursor: pointer;
  color:white;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: white;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;

}
#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

th {
  text-align: left;
}
.container-fluid{
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
margin-bottom: -5000px; /* any large number will do */
padding-bottom: 5000px;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }
  #sidebarCollapse.active span {
      margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
  }

}


#logout-button {
color: white;
background-color: #16163f;
border: 1px solid black;
}

#delete-product-button {
color: white;
background-color: #145214;
border: 1px solid black;
}

.card{
  background-color: rgba(228, 222, 222, 0.171);
  min-height: 310px;
}
.card-body{
  padding: 0%;
}
.card-img-top{
  min-height: 200px;
  min-width: 100px;

}
.card-title{
  text-align: center;
  font-family: inherit;
}
@media (min-width: 576px){
.card-columns .card {
    width: 100%;
    display: inline-block;
  }
}


.edit {
    position: absolute;
    top: 13%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1c111182;
    color: #dee2e6;
    font-size: 22px;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.col{
  text-align: center;
}

.btnChapter{
  background: transparent;
  box-shadow: none;
  outline: none !important;
  border: none;
}
.col-sm-10{
  text-align: end;
}
.edit:hover {
  background-color: black;
}

.delete{
  position: absolute;
  top: 13%;
  right: 3%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #a21818bf;
  color: #dee2e6b0;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.delete:hover {
  background-color: black;
}

.inlineTable {
  display: inline-table !important;
  margin-top: 2%;
}
.w{
  display: flex;
}
thead{
  background-attachment: red;
}
tr{
  font-family: inherit;
}
tbody{
  border:black !important;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
