<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sticky-top">
      <div class="sidebar-header">
        <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
          <p> {{currentUser.firstName}} {{currentUser.lastName}}
          </p>
      </div>
            <ul class="list-unstyled components">
             <li>
                <a href="/list-user">User</a>
              </li>
              <li>
                <a href="/add-content">Content</a>
              </li>
              <li class="active">
                <a href="/list-experience">Experience</a>
              </li>
            </ul>
            <ul class="list-unstyled CTAs">
              <li>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
              </li>
              <li>
                <a routerLink="/list-experience" class="article">Go back</a>
              </li>
            </ul>
    </nav>

      <div id="content">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
          </button>
        </div>
      <h1 >Experience: New Experience</h1>




<div class="container" style="color:white">
<div class="row row-basisinfo">
<div class="col col-basisinfo">
  <h5 class="h5" style=" text-align: left; padding-bottom:3%; padding-top:3%;">Basis informatie</h5>
    <form>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-1 col-form-label">Version</label>
          <div class="col-sm-5">
            <input type="number" class="form-control" id="inputEmail3" placeholder="Version" [(ngModel)]="experience.version" name="experience.version" ngDefaultControl>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-1 col-form-label">Alias</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Alias" [(ngModel)]="experience.alias" name="experience.alias">
          </div>
        </div>

        <div class="form-group row">
         <label for="inputPassword3" class="col-sm-1 col-form-label">Gazetime</label>
          <div class="col-sm-5">
           <input type="number" class="form-control" id="inputPassword3" placeholder="Gazetime" [(ngModel)]="experience.gazeTime" name="experience.gazeTime">
          </div>
        </div>

       <div class="form-group row">
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="experience.reticleVisibile" name="experience.reticleVisibile">
             <label class="form-check-label" for="gridCheck1">Reticle</label>
          </div>
        </div>
        </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <button type="submit" class="button-basis" (click)="addExperience()" >Create</button>
        </div>
     </div>
  </form>
</div>
  <div class="col col-table">
   <h5 class="h5" style=" text-align: left; padding-bottom:3%; padding-top:3%; padding-left:3%">Contents</h5>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"> <button class="btn"  routerLink="/add-content"><i class="fa fa-plus" aria-hidden="true" style="font-size:16px"></i> Add Content</button>
      </th>
      <th scope="col" style="text-align:center;">Delete</th>
    </tr>
  </thead>
  <tbody>


  </tbody>
</table>
  </div>
  </div>
</div>

<div class="chapters-container">

<h3 style="padding-top: 1%; padding-bottom: 2%;padding-left: 1%;">Chapters</h3>
  <div class="row chapters">
  <div class="col" >
            <div class="card-body"  >
              <button class="button-chapter-add" >Add Chapter</button>
        </div>
    </div>
  </div>
</div>

  </div>


  </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>


