<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="sticky-top">
            <div class="sidebar-header">
                     <img  src="https://s3.eu-west-3.amazonaws.com/be.soulmade.genie/Media/ProfilePictures/{{currentUser.profilePicture}}" height="77" width="80" >
                   <p> {{currentUser.firstName}} {{currentUser.lastName}}  </p>
            </div>

            <ul class="list-unstyled components">
              <li class="active">
                <a href="/list-user">User</a>
              </li>
              <li>
                <a href="/add-content">Content</a>
              </li>
              <li>
                <a href="/list-experience">Experience</a>
              </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Sign out</a>
                </li>
                <li>
                    <a routerLink="/list-user" class="article">Go back</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">


                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                </div>






<div class="container">
<div>
<h1 class="h1"> CREATE USER</h1>
</div>

 <div class="form-horizontal" >


<!-- Text input-->
<div class="form-group">
  <div class="col-md-6">
  <input id="textinput-firstname" name="textinput" type="text" placeholder="Firstname" class="form-control input-md" [(ngModel)]="user.firstName">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-6">
  <input id="textinput-lastname" name="textinput" type="text" placeholder="Lastname" class="form-control input-md" [(ngModel)]="user.lastName">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-6">
  <input id="textinput-username" name="textinput" type="text" placeholder="Username" class="form-control input-md" [(ngModel)]="user.userName"  [ngModelOptions]="{standalone: true}" >

  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <div class="col-md-6">
    <input id="password" name="passwordinput" type="password" autocomplete="on" placeholder="Password" class="form-control input-md" [(ngModel)]="user.password"  [ngModelOptions]="{standalone: true}" >

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-6">
  <input id="textinput-email" name="textinput" type="text" placeholder="Email" class="form-control input-md" [(ngModel)]="user.email" >

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-6">
  <input id="textinput-email" name="textinput" type="text" placeholder="Color type" class="form-control input-md" [(ngModel)]="user.email" >
  </div>
</div>

  <div class="form-group " ngDefaultControl>
  <div class="col-md-6">
      <select   name="content.visibility" class="form-control">
        <option selected>Gender</option>
        <option  ></option>
      </select>
      </div>
    </div>

<!-- File Button -->
<div class="form-group">
  <div class="col-md-5">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Upload</span>
      </div>
      <div class="custom-file" >

        <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onSelected($event)">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              <button type="button" >Upload </button>

      </div>
    </div>
  </div>
</div>
              <label for="ProfilePicture" style="font-family:unset; font-weight:600;">Profile Picture</label>

        <img class="image-show" src="{{ profilePictureUrl }}" style="width:40%; display:block;">
  <div class="form-group">
  <div class="col-md-4">
<button  (click)="saveUser()" class="button-basis">Submit</button>
  </div>
  </div>


</div>



      </div>
    </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>

</html>
