<button class="button btn-info" *ngIf='showFile'
	(click)='showFiles(false)'>Hide Files</button>

<button class="button btn-info" *ngIf='!showFile'
	(click)='showFiles(true)'>Show Files</button>

<div [hidden]="!showFile">
	<div class="panel panel-primary">
		<div class="panel-heading">List of Files</div>

    <div *ngFor="let img of fileUploads | async">
			<div class="panel-body">
      <img src="{{img.url}}"/>


			</div>
		</div>
	</div>
</div>
