#bkgrd {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color: black;
  background-image: url('https://uploads.toptal.io/blog/image/124464/toptal-blog-image-1508845777150-847ff1a13b29d4b832694404acb67f7a.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}

.position-relative1{
  background: transparent;
}
.lead{
  font-size: 15pt;
  text-align: left;
  color:rgb(90, 79, 73);
  font-style: oblique;
  font-weight: 500;
}
.display-4{
  text-align: left;
  font-size: 80px;
  color: #CC7D67;
  margin:0;
  width: max-content;
  font-weight: 400;
  text-transform: uppercase;
}
.display-3{
  text-align: right;
  font-size: 50px;
  color: #606C74;
  margin:0;
  width: max-content;
  font-weight: 200;

}
