<div id="bkgrd">
  <div class="position-relative1">
    <nav class="navbar navbar-expand-md navbar-dark navbar-inner">
       <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="category.html" routerLink="/list-user">User </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="product.html" routerLink="/list-experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cart.html" routerLink="/list-content">Content</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </div>
  <div class="position-relative">
    <div class="col-md-5 p-lg-5  my-5">
      <h1 class="display-3 ">Welcome to</h1>
      <h1 class="display-4 ">SOULMADE, {{currentUser?.firstName}}</h1>
      <p class="lead ">We create immersive solutions that deliver results.</p>
    </div>
      <div class="product-device box-shadow d-none d-md-block">
      </div>
         <div class="product-device product-device-2 box-shadow d-none d-md-block">
         </div>
  </div>
 </div>
